 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/9908d58da379615583c5ee962e10338a4a4070e2c670db132eb14b937f3f5ff5250de7acd13b1d273e69aaaaa645b679f7cd39bfa9b8bc07b0fc8f_1280.png');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 549px;
}

.u-section-1 .u-image-1 {
  width: 223px;
  height: 39px;
  margin: 47px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 13px 0 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-image-1 {
    width: 159px;
    height: 35px;
    margin-top: 48px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 549px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-1 .u-image-1 {
    width: 132px;
    height: 29px;
    margin-top: 47px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 21px 11px 24px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 848px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 60px 631px 0 27px;
}

.u-section-2 .u-text-2 {
  margin: -98px 27px 0 794px;
}

.u-section-2 .u-products-1 {
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 493px;
  grid-gap: 0px;
}

.u-section-2 .u-repeater-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  height: 359px;
  width: 349px;
  margin: 0 0 0 31px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 27px auto 0;
}

.u-section-2 .u-repeater-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  height: 359px;
  width: 349px;
  margin: 0 0 0 31px;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 27px auto 0;
}

.u-section-2 .u-repeater-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  height: 359px;
  width: 349px;
  margin: 0 0 0 31px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 27px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.25rem;
  background-image: none;
  margin: 21px auto 60px;
  padding: 10px 62px 10px 61px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 458px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 621px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 407px;
  }

  .u-section-2 .u-image-1 {
    width: 250px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 3px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-image-2 {
    width: 250px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 3px;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-2 .u-image-3 {
    width: 250px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 3px;
    margin-left: 21px;
    margin-right: 21px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 238px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -93px;
    margin-left: 401px;
  }

  .u-section-2 .u-products-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 353px;
    grid-gap: 0px 0px;
  }

  .u-section-2 .u-image-1 {
    height: 220px;
    width: 200px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    height: 220px;
    width: 200px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    height: 220px;
    width: 200px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 40px;
    margin-right: 309px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -66px;
    margin-left: 250px;
  }

  .u-section-2 .u-products-1 {
    margin-top: 19px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 255px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-2 .u-image-1 {
    height: 155px;
    width: 150px;
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: 19px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-2 .u-image-2 {
    height: 155px;
    width: 150px;
    margin-top: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-top: 19px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-2 .u-image-3 {
    height: 155px;
    width: 150px;
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    margin-top: 19px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 15px;
    margin-bottom: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 41px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-products-1 {
    width: 330px;
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 207px;
    grid-gap: 0px;
  }

  .u-section-2 .u-image-1 {
    height: 112px;
    width: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 112px;
    width: 100px;
  }

  .u-section-2 .u-image-3 {
    height: 112px;
    width: 100px;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 29px;
    margin-bottom: 60px;
    padding-top: 9px;
    padding-right: 34px;
    padding-left: 32px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 354px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  margin: 65px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  line-height: 1.8;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px 100px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    width: 680px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    font-size: 1rem;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 17px;
    margin-left: 11px;
    margin-right: 11px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-align: center;
  width: 486px;
  margin: 47px auto 0;
}

.u-section-4 .u-text-2 {
  text-align: center;
  width: 515px;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-4 .u-countdown-1 {
  margin: 38px auto 0;
}

.u-section-4 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-4 .u-countdown-counter-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-4 .u-countdown-label-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-4 .u-countdown-separator-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-4 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-4 .u-countdown-counter-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-4 .u-countdown-label-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-4 .u-countdown-separator-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-4 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-4 .u-countdown-counter-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-4 .u-countdown-label-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-4 .u-countdown-separator-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-4 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-4 .u-countdown-counter-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-4 .u-countdown-label-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-4 .u-countdown-separator-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-4 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-4 .u-countdown-counter-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-4 .u-countdown-label-5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-4 .u-countdown-separator-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-4 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-4 .u-countdown-counter-6 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-4 .u-countdown-label-6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  margin: 48px auto 53px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 0;
  }

  .u-section-4 .u-countdown-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 47px;
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-top: 54px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-top: 11px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-countdown-1 {
    padding-right: 12px;
    padding-left: 12px;
    margin-top: 11px;
  }

  .u-section-4 .u-countdown-counter-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-countdown-separator-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-countdown-counter-2 {
    font-size: 3rem;
  }

  .u-section-4 .u-countdown-separator-2 {
    font-size: 3rem;
  }

  .u-section-4 .u-countdown-counter-3 {
    font-size: 3rem;
  }

  .u-section-4 .u-countdown-separator-3 {
    font-size: 3rem;
  }

  .u-section-4 .u-countdown-counter-4 {
    font-size: 3rem;
  }

  .u-section-4 .u-countdown-separator-4 {
    font-size: 3rem;
  }

  .u-section-4 .u-countdown-counter-5 {
    font-size: 3rem;
  }

  .u-section-4 .u-countdown-separator-5 {
    font-size: 3rem;
  }

  .u-section-4 .u-countdown-counter-6 {
    font-size: 3rem;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1rem;
    margin-top: 34px;
    margin-bottom: 34px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 318px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  width: 402px;
  margin: 37px auto 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  margin: 31px auto 0 74px;
  padding: 9px 77px 11px 76px;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  margin: -52px auto 0;
  padding: 10px 85px 11px 83px;
}

.u-section-5 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  margin: -52px 68px 0 auto;
  padding: 10px 67px 10px 65px;
}

.u-section-5 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  margin: 45px auto 0 74px;
  padding: 10px 58px;
}

.u-section-5 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  margin: -52px auto 0;
  padding: 10px 50px 10px 48px;
}

.u-section-5 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1.125rem;
  background-image: none;
  margin: -52px 68px 57px auto;
  padding: 9px 56px 11px 55px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-5 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-6 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 60px;
    margin-left: 47px;
    padding-left: 39px;
    padding-right: 39px;
  }

  .u-section-5 .u-btn-2 {
    padding-right: 40px;
    padding-left: 39px;
  }

  .u-section-5 .u-btn-3 {
    margin-right: 46px;
    padding-right: 25px;
    padding-left: 24px;
  }

  .u-section-5 .u-btn-4 {
    margin-top: 35px;
    margin-left: 46px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-btn-5 {
    margin-top: -51px;
    padding-right: 5px;
    padding-left: 4px;
  }

  .u-section-5 .u-btn-6 {
    margin-right: 45px;
    margin-bottom: 60px;
    padding: 10px 15px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 30px;
    margin-left: 69px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 69px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 30px;
    margin-right: 70px;
  }

  .u-section-5 .u-btn-4 {
    margin-top: -53px;
    margin-left: 69px;
    padding-right: 21px;
  }

  .u-section-5 .u-btn-5 {
    margin-top: 34px;
    margin-left: 70px;
  }

  .u-section-5 .u-btn-6 {
    margin-right: 70px;
    padding-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 37px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 32px;
    margin-left: 32px;
    padding: 10px 31px 10px 30px;
  }

  .u-section-5 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: -46px;
    margin-right: 32px;
    padding-bottom: 10px;
    padding-left: 31px;
    padding-right: 31px;
  }

  .u-section-5 .u-btn-3 {
    font-size: 0.875rem;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 32px;
    padding-top: 9px;
    padding-right: 20px;
    padding-left: 19px;
  }

  .u-section-5 .u-btn-4 {
    font-size: 0.875rem;
    margin-top: -45px;
    margin-right: 32px;
    margin-left: auto;
    padding-top: 9px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-btn-5 {
    font-size: 0.875rem;
    margin-top: 21px;
    margin-left: 32px;
    padding-top: 9px;
    padding-right: 4px;
  }

  .u-section-5 .u-btn-6 {
    font-size: 0.875rem;
    margin-top: -46px;
    margin-right: 32px;
    margin-bottom: 59px;
    padding-left: 12px;
    padding-right: 12px;
  }
}